.featured {
    height: 600px;
    background-color: #0d084d;
    display: flex;
    justify-content: center;
    color: white;

    .container {
        width: 1200px;
        display: flex;
        align-items: center;

        //  background-color: white;
        .left {
            display: flex;
            flex-direction: column;
            gap: 30px;

            h1 {
                font-size: 50px;
            }

            .search {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: white;
                border-radius: 5px;

                .searchInput {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        width: 20px;
                        height: 20px;
                        margin: 10px;
                    }

                    input {
                        border: none;
                        outline: none;
                        width: 650px;
                        height: 30px;
                    }
                }

                button {
                    width: 120px;
                    height: 50px;
                    border: none;
                    background-color: #1dbf73;
                    color: white;
                    cursor: pointer;
                }
            }

            .popular {
                display: flex;
                align-items: center;
                gap: 10px;

                span {}

                button {
                    color: white;
                    background-color: transparent;
                    border: 1px solid white;
                    padding: 5px 10px;
                    border-radius: 20px;
                    font-size: 12px;
                    cursor: pointer;
                }
            }
        }

        .right {
            height: 100%;
          //  background-color: red;

            img {
                height: 100%;
                object-fit: contain;
            }
        }
    }
}