.slide {
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    

    .container {
        width: 1200px;
        padding: 30px 30px;


        // .carousel-prev,
        // .carousel-next {
        //     background-color: rgb(224, 26, 26);
        //     width: 50px;
        //     height: 50px;
        //     border-radius: 50%;
        //     position: absolute;
        //     top: 0;
        //     bottom: 0;
        //     margin: auto;
        // }
    }
}